.StockTransactionHistoryPage {
  .ActionButtons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 0.5rem;
      margin-bottom: 1rem;
      .Icon {
        margin-left: 0.5rem;
        height: 1rem;
        width: 1rem;
      }
    }
  }
  .SelectedTab {
    background-color: #7f8c8e;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .AlertTab {
    section {
      margin-top: 1rem;
    }
    .NoAlert span {
      margin-right: 1rem;
    }
  }
  .Tabs {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0;
    border-bottom: solid #7f8c8e 1px;
  }
}

.AlertForm {
  display: flex;
  flex-direction: column;
  & > * {
    margin-bottom: 1rem;
  }
  input[type="checkbox"] + label {
    margin-left: 1rem;
  }
  .Input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    input {
      min-width: 300px;
    }
  }
  .Buttons {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button:first-child {
      margin-right: 1rem;
    }
  }
  .AlertLabel {
    display: flex;
    flex-direction: row;
    span:first-child {
      margin-right: 1rem;
    }
  }
  .Checkbox {
    display: flex;
    flex-direction: row;
  }
}
