.IndexPage {
  .UpdateStocks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .Accounts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    gap: 2.5rem;
    padding: 1rem;
    .Card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 300px;
      header {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        align-items: center;

        .Bank {
          font-size: 2rem;
        }
        .AccountNumber {
          font-size: 1rem;
          margin-top: 0.5rem;
        }
        .AccountCtv {
          font-size: 1.2rem;
          font-weight: 400;
          margin-top: 0.8rem;
        }
      }
      .Buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        button:not(:first-child) {
          margin-top: 0.2rem;
        }
      }
    }
  }
}
