.GridList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  li {
    display: flex;
    flex-direction: column;
    .Field {
      font-size: 1rem;
      font-weight: 700;
    }
    .Value {
      margin-top: 0.3rem;
    }
  }
}
