.AddStockTransactionPage {
  .Input {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    label {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .StockSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    button {
      align-self: flex-start;
    }

    @media only screen and (max-width: 600px) {
      button {
        margin-top: 1rem;
      }
    }
  }
  .StockGridList {
    margin: 2rem 0;
  }
  .TransactionParameters {
    .Parameter {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      word-break: keep-all;
      input {
        width: 300px;
      }
    }
    .TransactionType {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 3rem;
      margin-bottom: 2rem;
      margin-right: 1rem;
      font-size: 1rem;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      span {
        font-weight: bold;
        word-break: keep-all;
      }
      .Select {
        width: 300px;
      }
      .Select > div {
        padding: 0.1rem;
        border-color: rgb(172, 172, 172);
      }
    }

    @media only screen and (max-width: 600px) {
      .Mobile {
        width: 100%;
      }
    }

    .TransactionNotes {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      label {
        font-weight: bold;
        margin-bottom: 2.5rem;
      }
      textarea {
        resize: none;
        border: 1px solid;
        border-radius: 0.2rem;
        border-color: rgb(172, 172, 172);
      }
    }
    .ActionButtons {
      margin-top: 2rem;
      button {
        margin-right: 0.5rem;
      }
    }
  }
}
